# Laravel & PHP
/vendor
/node_modules
.env
.env.*
.phpunit.resul
t.cache
Homestead.yaml
Homestead.json
storage/*.key
storage/pail
/public/storage
/public/hot
/public/build
/storage/*.key
Thumbs.db
.DS_Store
*.log

# IDE & Editor
/.idea
/.vscode
/.fleet
/.nova
/.zed
phpactor.json
auth.json

# Node / Next.js
.next
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Misc
*.bak
*.tmp
